body {
  background: #404;
  background-image: url(e2305be68632fdb8fa716031825ff6cb.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #fff;
  font-size: 1.8em; }

